<!-- MAIN ROW -->
<div class="row justify-content-center main-row">

  <!-- MAIN CONTAINER -->
  <div class="col-md-6 col-xs-12 col-sm-10 main-container">

    <div *ngIf="error" class="alert alert-danger" role="alert">
        {{errorMsg}}
    </div>

    <h3 class="header-title">Searching the Cheapest Hotels</h3><hr />

    <!-- FORM CONTAINER -->
    <div class="row form-container">

        <form [formGroup]='searchForm'>

            <!-- FORM FIELDS -->
            <div class="form-fields">
                <div class="form-group">
                    <label for="checkinInput">Check-in</label>
                    <input type="date" class="form-control" required id="checkinInput" placeholder="Check-in" formControlName='checkin' ngDefaultControl>
                </div>
                <div class="form-group">
                    <label for="checkoutInput">Check-out</label>
                    <input type="date" class="form-control" required id="checkoutInput" placeholder="Check-out" formControlName='checkout' ngDefaultControl>
                </div>
                <div class="form-group">
                    <label for="locationInput">Airport</label>
                    <input type="text" class="form-control" required id="locationInput" maxlength="3" placeholder="Airport Code (YYZ)" formControlName='location' ngDefaultControl>
                </div>
            </div>
            <!-- END OF FORM FIELDS -->
            
            <div class="button-bar">
                <button type="submit" class="btn btn-primary btn-block" (click)="searchHotels()">
                    Search the Cheapest Hotels
                </button>
            </div>

        </form>

    </div>
    <!-- END OF FORM CONTAINER -->

  </div>
  <!-- END OF MAIN CONTAINER -->

</div>
<!-- END OF MAIN ROW -->

<div *ngIf="hotelsFound" class="hotel-list">
    <div *ngFor="let hotel of hotelsFound">
        <hotel-card [hotel]="hotel"></hotel-card>  
    </div>
</div>